---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>Về tác giả</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Lê Văn Đông là một lập trình viên Backend chủ yếu làm việc với C#. Anh ấy thường chia sẻ trên{
				' '
			}
			<a href='https://www.levandong.com' target='_blank' class="underline">levandong.com</a>
		</p>
		<p>Anh ấy sẽ rất vui nếu được hợp tác và phát triển cùng với các bạn cùng chí hướng. Lĩnh vực anh ấy tìm hiểu là C#, Microservice,...</p>
	</div>
</div>


