---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectList from '../../components/ProjectList.astro';
import { projects } from './projects';
---

<BaseLayout title='Tất cả dự án' description='All my project portfolio from real projects to open source projects.'>
	<div class='container'>
		<div class='mb-10'>
			<h1 class='text-3xl font-bold mb-2'>Tất cả dự án</h1>
			<p class='text-zinc-700 dark:text-zinc-300 text-lg'>Tất cả dự án tôi đã tham gia, bao gồm project cá nhân và project open source.</p>
		</div>
		<ProjectList projects={projects} />
	</div>
</BaseLayout>
